<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3835866301-okhnrl15bk3iducj0keomqh8inphifeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3835866301-okhnrl15bk3iducj0keomqh8inphifeo</string>
	<key>API_KEY</key>
	<string>AIzaSyD1NYrp8NB0GrNcxNAc8cQc7K77ZrBvbKg</string>
	<key>GCM_SENDER_ID</key>
	<string>3835866301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xunruan.StaffTraining</string>
	<key>PROJECT_ID</key>
	<string>hotelstafftrainingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelstafftrainingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3835866301:ios:b8b605d2f183f5cee6dbd4</string>
</dict>
</plist>